

.kerning-36 {
    font-size: 36px;
    line-height: 50px;
    top: -37px;
}

.kerning-24 {
    font-size: 24px;
    line-height: 40px;
    top: -28px;
}


.kerning-18 {
    font-size: 18px;
    line-height: 30px;
    top: -21px;
}